<h1><%= link_to "Books", books_path %></h1>

<%= flash[:notice] %>

<table>
    <tr>
        <th>Title</th>
        <th>Body</th>    
    </tr>
    <tr>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Back", books_path %></td>
    </tr>
</table>



